/* BASE */


html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    background-color: #fff;
    color: #333;
    font-size: 15px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;  /* может помешать скроллу */
}


/* HAT */


.hat {
    display: flex;
    flex-direction: row-reverse;
    padding-right: 15px;
    background-color: #8e24aa;
    color: #ce93d8;
}

#circle {
    font-size: 17px;
    padding-top: 4px;
}

#triangle {
    transform: rotate(180deg);
}


/* HEADER */


.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #8e24aa;
    min-height: 8vh;
}

.header__icons {
    color: white;
    font-size: 28px;
}

#search {
    padding-right: 12px;
}

#more_vert {
    padding-left: 22px;
}

.profile {
    display: flex;
}

.intro-profile {
    margin-left: 12px;
    margin-bottom: 5px;
}

.intro-profile > h2{
    margin: 0;
    color: white;
}

.intro-profile > p{
    margin: 0;
    padding-top: 3px;
    font-size: small;
    color: lightgray;
    letter-spacing: 1px;
}


/* SCREEN */


.screen {
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: hsl(0 0% 50%);
    margin-top: auto;
    padding: 6px 5px 2px 5px;
}

.message {
    display: flex;
    background-color: #f3e5f6;
    word-break: break-all;
    border: 1px solid;
    border-radius: 4px;
    margin: 4px 8px 10px auto;
    padding: 6px 14px;
    max-width: calc(100% - 67px);
    flex-direction: column;
    width: fit-content;
    text-align: start;
}

.left_side {
    margin-left: 8px;
    margin-right: auto;
    max-width: 60%;
}

.info {
    display: flex;
}

.date {
    color: #615b62;
    font-size: 12px;
    margin-left: auto;
}

#done_all {
    color: #8C20A8;
    font-size: 18px;
    padding-left: 5px;
}


/* CHAT */


.chat {
    display: flex;
    padding-top: auto;
}

.form {
    width: 100%;
    display: inline-block;
    
}

.message_with_clip {
    display: flex;
    border: 1px solid rgba(25, 25, 25, 0.32);
}

input[type=submit] {
    visibility: collapse;
}

input {
    border: 0;
    outline: none;
    width: calc(100% - 2px - 52px);
    height: 7vh;
    padding-left: 1vh;
    padding-bottom: 1vh ;
    font-size: medium;
}

#link {
    color: #757575;
    font-size: 36px;
    transform: rotate(90deg);
}

