.content {
    margin-left: auto;
    margin-right: auto;
}

.avatar_edited {

}

/* alert: cringe; */
#avatar {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin-left: 125px;
    margin-top: 25px;
}

input[type='text'], textarea {
    background-color: #E7E7E7;
    height: 30px;
    padding: 0;
    width: 350px;
}

textarea, textarea:focus {
    height: 80px;
    outline: none;
    border: none;
    resize: none;
}

label {
    display: block;
    color: #636363;
    font-size: 14px;
    padding-top: 10px;
}

.profile_block {
    margin-top: 25px;
    border-radius: 5px;
}

.profile_edit {
    display: block;
    background-color: #E7E7E7;
    border-bottom: 2px solid #9A9A9A;
    padding: 0 20px 0 20px;

    /*box-shadow: inset ;*/
}

.comment {
    margin-top: 3px;
    color: #727272;
    font-size: 13px;
    padding-left: 20px;
}
