/* HEADER */


.header {
    text-align: justify;
    z-index: 100;
}


.burger {
    color: white;
    font-size: 28px;
}

.burger:hover {
    cursor: pointer;
}

.first-element {
    /* margin-left: 36px; */
    margin-bottom: 6px;
}

.header_title {
    margin-left: 50px;
}

.header_title > h2{
    margin-bottom: 25px;
    color: white;
}

.other {
    margin-left: auto;
    margin-right: 20px;
}


/* SCREEN */


.button {
    border: none;
    text-decoration: none;
    background: rgba(0,0,0,0);
}

.chat_list {
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: hsl(0 0% 50%);
}

.chat_message {
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    border-bottom: 1px solid lightgray;
    text-decoration: none;
    transition-duration: 0.25s;
}

.chat_message:hover {
    background-color: rgb(220, 220, 220);
}


.chat_message:active {
    background-color: lightgray;
    transform: scale(0.99);
}

.message__avatar {
    margin-top: auto;
    margin-bottom: auto;
}

.message__avatar_img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
}

.message__content {
    padding-left: 35px;
}

.message__content_name {
    color: #232323;
    margin-bottom: 0px;
}

.message__content_last_message {
    display: flex;
    color: #6f6f6f;
    margin-top: 8px;
}

.message__content_last_message > p{
    margin: 0;
    padding-left: 7px;
    padding-top: 2px;
}

.photo_camera {
    color: #12b701;
}

.message__info {
    margin-left: auto;
}

.message__info_time {
    font-size: 14px;
    color: #6d6d6d;
}

.message__info_done_all {
    text-align: right;
}

.message__info_done_all_icon {
    color: #8C20A8;
    font-size: 22px;
}

.unread {
    background-color: #9224a9;
    color: white;
    padding: 5px;
    border-radius: 8px;
    font-size: 14px;
}

.button_cirle_create {
    background: rgba(0,0,0,0);
    position: fixed;
    display: flex;
    top: 89%;
    left: 91%;
}

.circle_create {
    background-color: #ffd54f;
    box-shadow: 1px 1px 5px #ffd54f;
    border-radius: 25px;
    text-align: center;
    vertical-align: middle;
    width: 50px;
    height: 50px;
    animation: pulse 2s infinite;
}

.circle_create:hover {
    cursor: pointer;
    animation: none;
}

@keyframes pulse {
    0%, 100% {
        box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    }

    70% {
        box-shadow: 0 0 0 10px rgba(204,169,44, 0);
    }
}

#create {
    color: #756228;
    padding-top: 12px;
}

.message_notification {
    background-color: #ffd54f;
    color: black;
    padding: 2px;
    display: flex;
}

.alternate_email {
    color: black;
    font-size: 16px;
    padding-top: 0px;
    display: inline-block;
    margin-top: 1px;
}

.alternate_email_number {
    margin: 0;
    padding-left: 3px;
}


/* Adaptive */


@media screen and (max-width: 1024px) {
    .burger {
        font-size: 60px;
    }

    .header_title {
        padding-bottom: 18px;
    }

    .header_title > h2 {
        font-size: 42px;
    }

    .chat_message {
        padding-top: 25px;
    }

    .message__avatar_img {
        width: 120px;
        height: 120px;
    }

    .message__content_name {
        font-size: 32px;
        font-weight: 500;
        line-height: normal;
        margin-top: 20px;
    }

    .message__content_last_message {
        font-size: 28px;
        padding-top: 15px;
        line-height: normal;
    }

    .message__content_last_message_photo_camera > p {
        padding-left: 15px;
    }

    .message__content_last_message_photo_camera {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .photo_camera {
        font-size: 42px;
        margin-bottom: 0;
    }

    .message__info_time {
        font-size: 28px;
    }

    .message__info_done_all_icon {
        font-size: 42px;
    }

    .unread {
        font-size: 22px;
        padding-right: 15px;
        padding-left: 15px;
        border-radius: 16px;
    }

    .message_notification {
        padding: 5px;
        border-radius: 16px;
    }

    .alternate_email {
        font-size: 28px;
        font-weight: bold;
    }

    .alternate_email_number {
        padding-top: 5px;
    }

    .button_cirle_create {
        top: 86%;
        left: 77%;
    }

    .circle_create {
        box-shadow: 5px 5px 12px darkgrey;
        border-radius: 50%;
        width: 150px;
        height: 150px;
        animation: pulse 2s infinite;
    }

    .circle_create:hover, .circle_create::after {
        animation: pulse 2s infinite;
    }

    @keyframes pulse {
        0%, 100% {
            box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
        }
    
        70% {
            box-shadow: 0 0 0 30px rgba(204,169,44, 0);
        }
    }
    
    #create {
        padding-top: 38px;
        font-size: 68px;
    }
}

@media screen and (max-width: 648px) {
    #triangle {
        font-size: 20px;
    }

    #stop {
        font-size: 20px;
    }

    .button {
        margin-left: 20px;
    }

    .burger {
        font-size: 25px;
    }

    .header {
        padding-top: 10px;
    }

    .header_title {
        padding-top: 10px;
        margin-left: 15px;
    }

    .header_title > h2{
        font-size: 20px;
        margin-bottom: 0px;
        margin-top: 0px;
    }

    .other {
        padding-bottom: 3px;
    }

    .chat_message {
        padding: 5px 20px 0 15px;
    }

    .message__avatar_img {
        width: 60px;
        height: 60px;
    }
    .message__content {
        padding-left: 15px;
    }
    
    .message__content_name {
        margin-top: 10px;
        padding-bottom: 7px;
        font-size: 18px;
    }

    .message__content_last_message {
        margin-top: 0px;
        padding-top: 0px;
        font-size: 15px;
    }

    .message__info_time {
        font-size: 14px;
        margin-bottom: 5px;
        margin-top: 9px;
    }

    .message__info_done_all_icon {
        font-size: 22px;
    }

    .unread {
        font-size: 12px;
        padding: 3px 7px;
    }

    .message_notification {
        padding: 3px 5px;
    }

    .alternate_email {
        font-size: 12px;
        height: 12px;
        padding-top: 3px;
    }

    .alternate_email_number {
        padding-top: 0px;
    }

    .button_cirle_create {
        top: 87%;
        left: 70%;
    }

    .circle_create {
        box-shadow: 5px 5px 12px darkgrey;
        width: 60px;
        height: 60px;
    }

    #create {
        padding-top: 15px;
        font-size: 28px;
    }
    
    .photo_camera {
        font-size: 24px;
    }

    .message__content_last_message_photo_camera > p {
        padding-left: 10px;
    }

}
