/* SCREEN */


.screen {
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: hsl(0 0% 50%);
    margin-top: auto;
    padding: 6px 10px 2px 10px;
    overflow-x: hidden;
}

.message {
    display: flex;
    background-color: #f3e5f6;
    word-break: break-all;
    border: 1px solid #e5dee6;
    border-radius: 5px;
    border-bottom-right-radius: 0;
    margin: 4px 8px 5px auto;
    padding: 6px 14px;
    max-width: calc(100% - 67px);
    flex-direction: column;
    width: fit-content;
    text-align: start;
}

@keyframes appear {
    0% {
        transform: translateX(150%);
    }
    100% {
        transform: translateY(0);
    }
}

.left_side {
    margin-left: 8px;
    margin-right: auto;
    max-width: 60%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 5px;
    background-color: white;
}

.info {
    display: flex;
}

.date {
    color: #615b62;
    font-size: 12px;
    margin-left: auto;
}

#done_all {
    color: #8C20A8;
    font-size: 18px;
    padding-left: 5px;
}


/* CHAT */


.chat {
    display: flex;
    padding-top: auto;
}

.form {
    width: 100%;
    display: inline-block;
    
}

.message_with_clip {
    background-color: white;
    display: flex;
    border: 1px solid #dadada;
}

input[type=submit] {
    visibility: collapse;
}

input {
    border: 0;
    outline: none;
    width: calc(100% - 2px - 52px);
    height: 7vh;
    padding-left: 1vh;
    padding-bottom: 1vh;
    padding-top: 10px;
    font-size: medium;
}

#link {
    color: #757575;
    font-size: 36px;
    transform: rotate(90deg);
    margin-top: 4px;
    height: 42px;
    border-radius:50%;
    padding: 3px;
    padding-left: 3px;
    user-select: none;
}

#link:hover {
    cursor: pointer;
}

#link:active {
    transform: rotate(90deg), scale(0.95);
    box-shadow: inset 3px 2px 22px 2px rgba(41, 39, 39, 0.24);
}

#send {
    color: #8e24aa;
    font-size: 32px;
    margin-top: 10px;
    margin-left: 25px;
    margin-right: 23px;
    height: 32px;
    border-radius:50%;
    user-select: none;
}

#send:hover {
    cursor: pointer;
}

#send:active {
    transform: scale(0.95);
}

/* Adaptive */


@media screen and (max-width: 1024px) {
    .header {
        height: 100px;
    }

    .profile {
        padding-bottom: 2vh;
    }

    #stop {
        font-size: 48px;
    }

    #circle {
        font-size: 34px;
        padding-top: 6px;
    }
    
    #triangle {
        font-size: 48px;
    }

    .header__icons {
        font-size: 80px;
    }

    #avatar {
        height: 88px;
        width: 88px;
    }

    .intro-profile {
        padding-top: 18px;
        padding-left: 18px;
        margin-bottom: 0;
    }

    .intro-profile > h2 {
        font-size: 52px;
    }

    .intro-profile > p {
        font-size: 32px;
        padding-top: 26px;
    }

    .message {
        padding: 0;
        padding-left: 26px;
        padding-top: 36px;
        padding-bottom: 5px;
        margin-top: 15px;
        border-radius: 10px;
    }

    .text {
        font-size: 38px;
        padding-right: 28px;
        padding-bottom: 12px;
        text-align: left;
        line-height: 34px;
    }

    .info {
        padding-top: 12px;
        padding-bottom: 0px;
        padding-right: 18px;
    }

    .left-date {
        padding-bottom: 12px;
    }

    .date {
        padding-top: 5px;
        font-size: 30px;
        padding: auto;
        line-height: normal;
    }

    #done_all {
        font-size: 42px;

    }

    .form-input {
        font-size: 38px;
    }

    #link {
        font-size: 78px;
        height: 78px;
        margin-right: 30px;
        margin-top: 25px;
    }

    #send {
        font-size: 69px;
        height: 100%;
        padding-top: 21px;
        margin-left: 20px;
    }
}

@media screen and (max-width: 648px) {
    .header {
        height: 55px;
        /* margin-bottom: 5px; */
    }

    #circle {
        font-size: 14px;
        padding-top: 3px;
    }

    #search {
        font-size: 25px;
    }

    .intro-profile > h2 {
        font-size: 18px;
    }

    .intro-profile > p {
        font-size: 13px;
        padding-top: 0;
        letter-spacing: normal;
    }

    #avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        overflow: hidden;
        padding-bottom: 4px;
    }

    #arrow_back {
        font-size: 25px;
    }

    #more_vert {
        font-size: 25px;
    }

    .profile {
        padding: 0;
        padding-bottom: 5px;
        padding-left: 20px;
    }

    .intro-profile {
        padding: 0;
    }

    .first-element {
        margin-left: 20px;
        padding: 0;
    }

    .message {
        padding: 10px 15px 5px 10px;
        margin: 10px 6px 5px auto;
    }

    .text {
        font-size: 16px;
        padding: 0;
        line-height: normal;
    }

    .info {
        padding: 0;
        padding-top: 5px;
    }

    .date {
        font-size: 12px;
        padding-top: 0px;
    }

    #done_all {
        font-size: 15px;
    }

    .left_side {
        margin-left: 0px;
        margin-right: auto;
        max-width: 60%;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 5px;
        background-color: white;
    }

    .left-date {
        padding-bottom: 0px;
    }

    input {
        border: 0;
        outline: none;
        width: calc(100% - 2px - 52px);
        height: 8vh;
        padding-left: 1vh;
        padding-bottom: 1vh;
        padding-top: 10px;
    }

    .form-input {
        font-size: 15px;
    }
    
    #link {
        font-size: 30px;
        margin-top: 13px;
        height: 30px;
        padding: 0;
        margin-left: 3px;
        padding-right: 0;
        margin-right: 0;
    }

    #send {
        font-size: 26px;
        margin: 0;
        /* height: 32px; */
        padding-top: 0;
        padding-right: 15px;
        margin-top: 15px;
        margin-left: 25px;
    }
}
